body, html{
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 6vh;
}


.skontaktuj {
    width: 500px;
}

.main .about .about-text p {
    font-size: 1.75vh;
    line-height: 3.5vh;
    opacity: 0.75;
    padding-bottom: 5vh;
}

h3 {
    font-size: 2.5vh;
}

.main .about .about-text small {
    font-size: 1.25vh;
    line-height: 1.75vh;
    opacity: 0.75;
}

.main .about .about-text {
    color: white;
    position: absolute;
    word-wrap: break-word;
    width: 400px;
    padding: 17vh 0 0 120px;
}

.main .about img {
    height: 100vh;
    float: right;
}


.main {
    animation: fadein 2s ease;
    -moz-animation: fadein 2s ease; 
    -webkit-animation: fadein 2s ease; 
    -o-animation: fadein 2s ease; 
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.kontakt-btn {
    display: none;
  }

.kontakt-link {
    color: rgb(255, 71, 71);
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 1vh 0;
    
}

.koperta {
    width: 50vw;
}


@media screen and (max-width: 1200px) {

    .main .about .about-text {
        color: white;
        position: relative;
        word-wrap: break-word;
        width: 70%;
        padding: 20px 50px 50px 50px;
        margin-right: 50px;
        padding-bottom: 50px;
    }
    .main .about img {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }
    
    p {
        font-size: 16px !important;
        line-height: 25px !important;
        opacity: 0.75;
        padding-bottom: 50px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    small {
        font-size: 13px !important;
        line-height: 20px !important;
        opacity: 0.75;
    }

    .koperta {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .main .about .about-text {
        padding: 0px 50px 50px 20px;
        width: 90%;
    }

    .avatar {
        margin-top: -20px;
    }

    .main .button .kontakt-btn {
        background-color: rgb(255, 71, 71);
        border: none;
        color: white;
        padding: 15px 32px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 800;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        width: 100%;
    }

    .main .button {
        display: block;
        padding: 0px 20px 0px 20px;
        margin-right: 70px;
        margin-bottom: 100px;
    }

    .koperta {
        display: none;
    }
    
    .skontaktuj {
        font-size: 10vw;
    }

}

