body, html{
    background-color: rgb(0, 0, 0);
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 55px;
    font-weight: 800;
}


a {
    text-decoration: none;
    color: rgb(255, 83, 83);
    cursor: pointer;
    font-weight: 700;
}

.skontaktuj {
    width: 500px;
}

.main .about .about-text p {
    font-size: 16px;
    line-height: 30px;
    opacity: 0.75;
    padding-bottom: 5vh;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
}

.kontakt {
    margin-bottom: -5px;
}

.main .about .about-text small {
    font-size: 13px;
    line-height: 25px;
    opacity: 0.75;
    
}

.main .about .about-text {
    color: white;
    position: absolute;
    word-wrap: break-word;
    width: 30vw;
    padding: 150px 0 100px 120px;
}


.main {
    animation: fadein 2s ease;
    -moz-animation: fadein 2s ease; 
    -webkit-animation: fadein 2s ease; 
    -o-animation: fadein 2s ease; 
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.kontakt-btn {
    display: none;
  }

.kontakt-link {
    color: rgb(255, 83, 83);
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
}


.main .about .avatar {
    position: fixed;
    height: 100vh;
    right: calc(100% - 100vw);
}

.main .about .koperta {
    position: fixed;
    height: 100vh;
    right: calc(100% - 100vw);
    opacity: 0.1;
}


@media screen and (max-width: 1200px) {

    .main .about .about-text {
        color: white;
        position: relative;
        word-wrap: break-word;
        width: 70%;
        padding: 20px 50px 50px 50px;
        margin-right: 50px;
        padding-bottom: 50px;
    }
    .main .about .avatar {
        width: 100vw;
        height: auto;
        padding-bottom: 30px;
        position: relative;
        display: none;
        
    }

    h1 {
        font-size: 50px;
        padding-bottom: 20px;
        line-height: 48px;
    }
    
    p {
        font-size: 16px !important;
        line-height: 25px !important;
        opacity: 0.75;
        padding-bottom: 50px;
    }
    
    h3 {
        font-size: 22px;
    }
    
    small {
        font-size: 13px !important;
        line-height: 20px !important;
        opacity: 0.1;
        
    }

    .koperta {
        display: none;
    }

}

@media screen and (max-height: 900px) {
    .main .about .about-text {
        padding: 50px;
    }
}

@media screen and (max-width: 600px) {
    .main .about .about-text {
        padding: 0px 50px 50px 20px;
        width: 90%;
    }

    .main .button .kontakt-btn {
        background-color: rgb(255, 71, 71);
        border: none;
        color: white;
        padding: 15px 32px;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: 800;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        position: relative;
        width: 100%;
    }

    .main .button {
        display: block;
        padding: 0px 20px 0px 20px;
        margin-right: 70px;
        margin-bottom: 100px;
    }

    .koperta {
        display: none;
    }
    
    .avatar {
        margin-top: -20px;
        display: none;
    }

    h1 {
        font-size: 40px;
        line-height: 38px;
    }

}

