@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
body, html{
    font-family: 'Montserrat';
    margin: 0;
    background-color: rgb(0, 0, 0);
}

a {
  outline: transparent !important;
}
 
 /*
 /* The sidebar menu */
 .sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #101010; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav .accent {
    display: block;
    background-color: rgb(255, 71, 71);
    height: 35px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.accent-mobile {
  display: none;
  background-color: rgb(255, 71, 71);
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: 10000;
}

.sidenav .hamburger {
  display: none;
}

/* The navigation menu links */
.sidenav .navlinks a {
    padding: 13px 25% 13px 25%;
    margin: auto;
    width: 50%;
    text-decoration: none;
    font-size: 0.9em;
    color: #ffffff;
    display: block;
    text-align: left;
    letter-spacing: 0.02em;
    font-weight: 600;
    text-transform: uppercase;
    
}

.sidenav .logo {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 0px 0 0px 0;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sidenav .social a {
  display: inline-block; /* Here */
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.sidenav .social {
  position: absolute;
  padding: 13px 25% 13px 25%;
  margin: auto;
  width: 50%;
  bottom: 50px;
}


/* top nav media queries*/


/*
  @media screen and (min-width: 600px) {
    .topnav {
    display: none;
    }
  }
  */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .sidenav {
    background-color: #101010;
    height: 50px; /* Full-height: remove this if you want "auto" height */
    width: 100%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main {
    margin-top: 100px !important;
    margin-left: 0px !important;
    width: 100%;
    overflow-x: hidden;
  }
  
  .social {
    display: none;
  }
 
  /*
  .sidenav .navlinks a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  */

  /*
  .sidenav .hamburger:hover {
    background-color: rgb(0, 0, 0);
    color: black;
  }
  */
  
  /*
  .active {
    background-color: #4CAF50;
    color: white;
  }
  */
  
  .sidenav .navlinks a {display: none;}

  .sidenav .hamburger {
    float: right;
    display: block;
    width: 24px;
    margin-right: 35px;
    top: 10px;
  }
  
  .sidenav .logo {
    float: left;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 35px;
  }

}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .accent-mobile{
    display: block;
  }
  .sidenav.responsive {
    position: relative;
    height: 100%; 
    width: 100%;
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .sidenav.responsive a.hamburger {
    position: absolute;
    right: 0;
    top: 30px;
  }
  .sidenav.responsive .logo{
    cursor: pointer;
    display: block;
  }
  .sidenav.responsive .navlinks a {
    float: none;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;
  }
  .sidenav.responsive .navlinks{
    padding-top: 80px;
  }

  .sidenav.responsive .navlinks {
    animation: fadein .5s ease;
    -moz-animation: fadein .5s ease; /* Firefox */
    -webkit-animation: fadein .5s ease; /* Safari and Chrome */
    -o-animation: fadein .5s ease; /* Opera */
}
  .sidenav.responsive .social{
    display: block;
    position: fixed;
    padding: 0px 0px 0px 30px;
    bottom: 50px;
    
    animation: fadein .5s ease;
    -moz-animation: fadein .5s ease; /* Firefox */
    -webkit-animation: fadein .5s ease; /* Safari and Chrome */
    -o-animation: fadein .5s ease; /* Opera */
  }

  .sidenav .accent {
    display: none;
  }

}


/* When you mouse over the navigation links, change their color 
.sidenav a:hover {
    color: #ff8181;
} */

/* Style page content */
.main {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 0px 0px;
    background-color: rgb(0, 0, 0);
} 


/*Grid content*/


.main .row .column img {
    display: block;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    /*padding: 0 15px;*/
    padding: 0 0px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 30%;
    max-width: 100%;
    /*padding: 0 15px;*/
    padding: 0 0px;
  }
  
  .column img {
    margin-top: 0px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1000px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* image hover overlay 
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .main .row .column img:hover .overlay {
    opacity: 1;
  }
  */

  /* nav hover effects*/
  .sidenav a {
    position:relative;
    z-index: 1;
  }
  .sidenav a:hover {
    color: rgb(255, 255, 255);
  }
  .sidenav .navlinks a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: px;
    content: '.';
    color: transparent;
    /*background: rgb(42, 46, 255);*/
    background: rgb(255, 71, 71);
    visibility: none;
    opacity: 0;
    z-index: -1;
  }

  .sidenav a:hover:after {
    animation: fadein 0.3s;
    opacity: 1;
    visibility: visible;
    height: 100%;
  }



  /* fade in */
.main .row .column {
    animation: fadein 2s ease;
    -moz-animation: fadein 2s ease; /* Firefox */
    -webkit-animation: fadein 2s ease; /* Safari and Chrome */
    -o-animation: fadein 2s ease; /* Opera */
}

/*
.main .row {
  animation: scale .5s ease;
  -moz-animation: scale .5s ease; 
  -webkit-animation: scale .5s ease; 
  -o-animation: scale .5s ease; 
}

*/

/*
.sidenav {
    animation: fadein .5s ease;
    -moz-animation: fadein .5s ease; 
    -webkit-animation: fadein .5s ease; 
    -o-animation: fadein .5s ease; 
}
*/

/* logo hover */
.sidenav .logo:hover { 
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.1);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 200ms ease-in;
  transform: scale(1.1);
}

.sidenav .logo{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);    
}

/* social hover */
.sidenav .social a:hover { 
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

.sidenav .social a{
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);    
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes scale {
	from { transform: scale(0.7); }
  100% { transform: scale(1); }
}

/* image hover fx */

.container {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.05;
}

.container:hover  {
    background-color: rgb(255, 71, 71);
    /*background-color: rgb(42, 46, 255);*/
  }

.container:hover .middle {
  opacity: 1;
  cursor: pointer;
}

.text {
  /*background-color: rgb(255, 255, 255);*/
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  padding: 16px 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtext {
  /*background-color: rgb(255, 255, 255);*/
  color: rgb(255, 255, 255);
  font-size: 1em;
  padding: 0px 32px;
  opacity: 1;
  font-weight: 500;
}

  