body, html{
    background-color: rgb(255, 255, 255);
}



.main {
    animation: fadein 2s ease;
    -moz-animation: fadein 2s ease; 
    -webkit-animation: fadein 2s ease; 
    -o-animation: fadein 2s ease; 
    width: 100vw !important;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

h1 {
    font-size: 46px;
    line-height: 44px;
    color: #333333;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    color: #333333;
    font-size: 30px;
    padding: 0px;
    margin: 20px 0 20px 0;
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    color: #333333;
    font-size: 18px;
    padding: 0px 0 0px 0;
    margin: 0px;
}

p { 
    color: #666666;
    font-size: 16px;
    line-height: 30px;
    margin: 0px;
    padding: 5px 0 0 0;
    font-weight: 500;
}

.content {
    position: absolute;
    padding: 100px 15% 0 15%;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    width: calc(100vw-300px);
}


/**************************************************/

.proheader {
    text-align: center;
    padding: 15px 15% 50px 15%;
}

.proimg img {
    padding: 10px 0px 10px 0px;
    width: 100%;
    height: auto;
}

.proabout {
    width: 80%;
    padding: 0px 0 20px 0;
}

.proabout p {
    padding: 0px 0 0px 0;
    font-weight: 500;
    color: #666666;
}


.proabout ol {
    padding: 0px 0 0px 0;
    margin: 0px;
    line-height: 25px;
    list-style-position: inside;
}

.imgheader {
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}

.imgcaption {
    text-align: center;
}

.img-container {
    padding: 10px 0 100px 0;
    width: 100%;
}

.img-container img {
    padding: 20px 0px 20px 0px;
    width: 100%;
    height: auto;
}

.spacer {
    display: block;
    height: 100px;
}

.spacersmall {
    display: block;
    height: 70px;
}

.spacervsmall {
    display: block;
    height: 40px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	padding: 0 20px 0 0;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

.procesicon {
    height: 40px;
    opacity: 0.5;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 30px;
    opacity: 0.7;
    font-weight: 500;
}

.nextproimg {
    width: 100%;
}

.nextprocolumns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
    margin: 5px 0;
}

.nextprocolumn {
	flex: 1;
	padding: 0 20px 0 0;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
}

@media screen and (max-width: 1200px) {

    h1 {
        font-size: 40px;
        line-height: 35px;
    }

    .content {
        padding: 50px;
    }

    .proheader {
        padding: 15px 8% 40px 8%;
    }

    .proabout {
        padding: 0px 0px 20px 0px;
        width: 100%
    }

    .spacer {
        height: 80px;
    }

    .spacersmall {
        height: 40px;
    }
}

@media screen and (max-width: 800px) {
    .columns {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .content {
        padding: 10px 20px 0px 20px;
    }

    h1 {
        font-size: 40px;
        line-height: 38px;
    }

    .main .content .img-container img {
        width: 100%;
        padding: 10px 0px 10px 0px;
    }
    
    .proheader {
        padding: 0px 0px 20px 0px;
    }

    .proabout {
        padding: 0px 0 20px 0;
        width: 100%
    }

    .spacer {
        height: 70px;
    }
   
}

